<script>
    import { onMount } from 'svelte';
    import helperTasks from '$lib/helpers/tasks.js';

    export let addTask;
    export let dateString;

    let isMounted = false;
    let text = '';

    $: if (isMounted) helperTasks.setAddText(text);

    onMount(() => {
        const textStored = helperTasks.getAddText();

        if (typeof textStored !== 'undefined' && textStored !== text) text = textStored;

        isMounted = true;
    })

    function addHandler () {

        if (!text.trim().length) return false;

        addTask(text, dateString);
        text = '';
    }
</script>

<div class="flex flex-col items-center">
    <input
        class="border border-violet-200 w-full mt-6 py-3 px-4 outline-none text-base text-gray-500 duration-300 placeholder:text-violet-300 focus:border-indigo-300"
        type="text" placeholder="Add Task" bind:value={text}
    />
    <button
        class="mt-3 translate-y-1/2 pt-1.5 pb-1 px-12 text-white font-bold text-lg bg-green-500 hover:bg-green-400 rounded-full duration-150"
        type="button" on:click={addHandler}
    >
        Add
    </button>
</div>