<script>
    import Head from './head.svelte';
    import List from './list.svelte';
    import Add from './add.svelte';

    export let tasks;
    export let dateString;
    export let addTask;
    export let setTaskStatus;
</script>

<div class="my-12 mx-2 min-w-75 max-w-75 bg-white shadow-md">
    <Head {dateString} />
    <div class="px-4">
        <List {tasks} {setTaskStatus} />
        <Add {addTask} {dateString} />
    </div>
</div>