
<script>
    import helperDate from '$lib/helpers/date.js';

    export let dateString;

    const [month, dayOfWeek, dayOfMonth] = helperDate.splitByFormats(dateString, ['monthText', 'dayWeekText', 'dayNumber']);
</script>

<div class="border-b-4 border-slate-100 py-7 px-3 text-center">
    <div class="text-4xl font-bold spacing text-gray-500">
        {month}
    </div>
    <div class="mt-1.5 text-base font-bold text-indigo-300">
        {dayOfWeek}, {month} {dayOfMonth}
    </div>
</div>