<script>
    import doneImg from '$lib/icons/smile.svg?raw';
    import undoneImg from '$lib/icons/not-smile.svg?raw';

    export let task;
    export let setTaskStatus;

    const textDoneClasses = 'text-neutral-300 bg-full-px';
    const textUnDoneClasses = 'text-gray-500 bg-0-px';
    const iconVisibleClasses = '';
    const iconInVisibleClasses = 'scale-75 opacity-0';
</script>

<div class="flex justify-between items-center">
    <span class="min-w-px my-2">
        <span class="break-words text-base bg-left-3/5 bg-gradient-to-r bg-no-repeat from-neutral-300 to-neutral-300 duration-300 {task.isDone ? textDoneClasses : textUnDoneClasses}">
            {task.text}
        </span>
    </span>
    <button
        class="relative flex justify-center items-center -mr-2 min-w-9 w-9 h-9 p-2 hover:scale-110 duration-150"
        type="button" on:click={() => setTaskStatus(task.id, !task.isDone)}
    >
        <span class="absolute top-0 left-0 w-full p-2 h-full text-green-500 duration-150 {task.isDone ? iconVisibleClasses : iconInVisibleClasses}">
            {@html doneImg}
        </span>
        <span class="absolute top-0 left-0 w-full p-2 h-full text-neutral-300 duration-150 {task.isDone ? iconInVisibleClasses : iconVisibleClasses}">
            {@html undoneImg}
        </span>
    </button>
</div>