<script>
    import Item from './item.svelte';

    export let tasks;
    export let setTaskStatus;
</script>

<div class="mt-6.5">
    {#each tasks as task (task.id)}
        <Item {task} {setTaskStatus} />
    {:else}
        <div class="text-center text-gray-500">No tasks were added yet</div>
    {/each}
</div>