<script>
    import '../app.css';
    import { onMount } from 'svelte';
    import { page } from '$app/stores';
    import { goto } from '$app/navigation';
    import helperDate from '$lib/helpers/date.js';
    import helperTasks from '$lib/helpers/tasks.js';

    export let data;

    let tasks = [];
    let isMounted = false;
    let isPossibleRedirect = true;

    // Get tasks from localStorage or from test data
    onMount (() => {

        const storedTasks = helperTasks.getAll();

        if (storedTasks) {

            tasks = [...storedTasks];

        } else {

            helperTasks.set(data.tasksInitial);
            tasks = [...data.tasksInitial];
        }

        isMounted = true;
    });

    // If a certain date is not opened then redirect to the oldest date which have tasks
    $: {
        if (isMounted) {

            if (tasks.length && !helperDate.isUrlRealDate($page.url.pathname)) {

                const taskOldest = tasks.reduce((taskOldest, task) => {

                    if (typeof taskOldest === 'undefined') return task;

                    return helperDate.isOlder(task.date, taskOldest.date) ? task : taskOldest;
                });

                const [year, month, day] = helperDate.splitByFormats(taskOldest.date, ['year', 'monthNumberPadded', 'dayNumberPadded']);

                const redirectTo = '/' + year + '/' + month + '/' + day;

                goto(redirectTo, {replaceState: true});

                isPossibleRedirect = true;

            } else {

                isPossibleRedirect = false
            }
        }
    }
</script>

{#if (!isPossibleRedirect)}
    <slot />
{/if}