<script>
    import { onMount } from 'svelte';
    import { page } from '$app/stores';
    import helperDate from '$lib/helpers/date.js';
    import helperTasks from '$lib/helpers/tasks.js';
    import Title from '$lib/components/meta/title.svelte';
    import TodoDayCard from '$lib/components/todo/day/card.svelte';

    let tasks = [];

    const dateString = helperDate.urlToDateString($page.url.pathname);
    const [year, month, day] = helperDate.splitByFormats(dateString, ['year', 'monthNumberPadded', 'dayNumberPadded']);

    function getTasks () {
        const storedTasks= helperTasks.getByDate(dateString);

        tasks = [...storedTasks];
    }

    onMount(getTasks);

    function addTask (text, dateString) {

        helperTasks.add(text, dateString);
        getTasks();
    }

    function setTaskStatus(id, status) {

        helperTasks.setStatus(id, status);
        getTasks();
    }
</script>

<Title beginning={`Tasks for ${day}.${month}.${year}`} />

<TodoDayCard {tasks} {dateString} {addTask} {setTaskStatus} />